$white1: #f7f7f7;
$white2: #eee;
$white3: #e6e6e6;
$white4: #ddd;


$snow: #FFFAFA;
$mint-cream: #F5FFFA;
$color-stickyicon: #D5DEE2;


$primary: #FF228E;
$primaryL: #FF449F;
$primaryD: #D5085D;

$mangoL:#FFC324;
$mango: #ffba02;
$mangoD: #F0AE00;

$chocolate: #2C150E;
$chocolateL: #462116;
$chocolateD1: #1F0F0A;
$chocolateD2: #120906;

$black: rgba(14, 30, 37, 1);
$fontColor: #777;


// GRID
$grid-width: 114rem;
$gutter-vl: 8rem;
$gutter-vl-small: 6rem;
$gutter-hr: 6rem;