.u-adjust-sticky-icon {
    margin-top: .4rem;
    margin-left: .3rem;
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
    margin-bottom: 12rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-medium-minus {
    margin-top: -5.3rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

.mirror-text {
    transform: scale(-1, 1) translateY(2.5px);
}

.mirror-text-2 {
    transform: scale(-1, 1);
}

.border-bottom {
    border-bottom: 1px solid #dcdacb;
}
